// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  height: 50px;
  margin: 0;
}

#content {
  padding: 20px;
  margin: 0 auto;
  width: 920px;
  margin-bottom: 100px;
  clear: both;
}

footer {
  text-align: center;
  margin: 100px auto 20px;
}

footer ul {
  margin: 0 auto;
  list-style: none;
  text-align: center;
  width: 400px;
}

footer ul li {
  float: left;
  margin: 0 10px;
}